<div class="container">    
    <div class="section-box">
            <div class="row row-box">
                <div class="col-md-12" style="text-align: center;">
                    <div class="cardbox">
                    <h3 class="project-topic" style="margin-top: 5px">Lost & Found</h3>
                    <h5>รายชื่อสมาชิก</h5>
                    <p style="line-height: 2em;">
                        นาย จีระวัฒน์ หนักแน่น 5710450031<br>
                        นาย ธีระพล ไวยนิยี 5810613413<br>
                        นางสาว ศิริรัตน์ บุณยัษเฐียร 5910490035<br>
                        นาย ภูริณัฐ ธรรมราช 5910613347</p>
                    </div>
                </div>
            </div>
    </div>
    <div class="section-box">
        <div class="row">
            <div class="col-md-5">
                <div class="row row-box">
                    <div class="col-md-12">
                        <div class="cardbox head-topic">
                            <h4 class="project-topic">Document</h4>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5"><p>
                                        <a href="https://drive.google.com/file/d/1VLooRiRulXW0MOmTysG1FS6iJ3AfDUw6/view?usp=sharing"><font style="color:red">ไฟล์ข้อเสนอ</font></a><br>
                                        <a href="https://drive.google.com/file/d/1CFpvjPLAAI06TLbod6XAZYnY0T1gnz15/view?usp=sharing"><font style="color:red">Feature</font></a></p>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5"><p>
                                        <a href="https://drive.google.com/file/d/1ME-yGoZ0cqnUxqGe1vyvYMXLv-JT1EIx/view?usp=sharing"><font style="color:red">Requirements</font></a><br>
                                        <a href="https://drive.google.com/file/d/1FDn9RGvmxJxXc8k5sMsCssJV8XSrMkKt/view?usp=sharing"><font style="color:red">ER-Diagram</font></a></p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="row row-box">
                    <div class="col-md-12">
                        <div class="cardbox head-topic">
                            <h4 class="project-topic">Link</h4>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button class="button-link" onclick="window.location.href='https://www.pivotaltracker.com/n/projects/2223207'">Privotal Tracker</button>
                                    <button class="button-link" onclick="window.location.href='https://bitbucket.org/5810613413/testproject/src/poo-master'">Bitbucket Repository</button>
                                    <button class="button-link" onclick="window.location.href='https://youtu.be/j3vNVj_tsYg'">Youtube</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
