<div class="container">    
    <div class="section-box">
            <div class="row row-box">
                <div class="col-md-12" style="text-align: center;">
                    <div class="cardbox">
                        <h3 class="project-topic" style="margin-top: 5px">Sign up</h3>
                        <div>
                            <%= render 'users/form' %>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
