.about-header {
    background-size: cover;
    background-color: white;
    background-position: top center;
    margin-top: -100px;
    min-height: 450px;
}
.about-header-image{
    background-image: url('https://cdn.pixabay.com/photo/2018/07/20/14/05/tropical-3550746_1280.jpg');
}
body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #CCC5A7;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #B46D75;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #D9A380;
  color: #FFF9E0;
}

#navbar a.active {
  background-color: #C08485;
  color: #FFF9E0;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.container {
    font-family: 'Mitr', sans-serif;
}
.footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.card {
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 rgba(117,117,117,.25);
    padding: 20px;
}
.cardbox{
    margin: 20px;
    padding: 5px;
    background-color: #F3F7DF;
    margin-top: 3px;
    margin-bottom: 3px;
}
.head-topic h4{
  margin-left: 10px;
  margin-top: 5px;
  text-align: center;
}
.head-topic a{
  text-align: center;
}
.project-topic{
  font-family: 'Quantico', sans-serif;
}
.head-topic p{
  line-height: 1.8em;
}
.section-box{
  margin-top: 20px;
}
.row-box{
  background-color: #C08485;
  border-radius: 5px;
}
.text-box{
  margin-left:10px;
}

.button-link {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 14px 28px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button-link:hover {opacity: 1}