<section class="about-header about-header-image"></section>
<div id="navbar">
    <%= link_to "Lost Items" , static_pages_lost_path %> 
    <%= link_to "Found Items" , static_pages_found_path %>
    <%= link_to "About" , static_pages_about_path %>
    <% if logged_in? %>
        <li><%= link_to "Username", current_user %></li>
        <li>
            <%= link_to "Sign out", static_pages_lost_path, method: :delete %>
        </li>
    <% else %>
          <li><%= link_to "Sign in", static_pages_login_path %></li>
    <% end %>
</div>
